# Created by Nelson Durrant, Oct 2024

services:
  ros1_bridge:
    build:
      context: .
      dockerfile: Dockerfile 
    image: ros1_bridge
    container_name: ros1_bridge
    user: ${NAME}
    network_mode: host
    privileged: true
    volumes:
      - ../bridge_ws:/home/${NAME}/bridge_ws
      - ../ros1_msgs_ws:/home/${NAME}/ros1_msgs_ws
      - ../ros2_msgs_ws:/home/${NAME}/ros2_msgs_ws
      - ../scripts:/home/${NAME}/scripts
      - /etc/localtime:/etc/localtime:ro # Syncs the container's time with the host
    command: /bin/bash
    stdin_open: true  # Equivalent to -it in docker run
    tty: true  # Equivalent to -it in docker run
    restart: always  # Optional: Keeps the container running after exit unless you want it to be removed like with --rm